<section class="faq-section">
  <h2>Frequently Asked Questions</h2>


  <div class="faq">
    <button class="faq-question">
      <span>Are your cleaning products safe for my family and pets?</span>
      <span class="icon">+</span>
    </button>
    <div class="faq-answer">
      <p>Absolutely. The health and safety of your family and pets are our top priority. We primarily use eco-friendly
and non-toxic cleaning products that are effective yet gentle on the environment and your loved ones. We are
also happy to accommodate specific product requests if you have allergies or sensitivities. Just let us know
your preferences during the booking process, and we'll ensure our team uses only the products you approve.
We believe in providing a clean and healthy environment without compromising on safety.</p>
    </div>
  </div>

  <div class="faq">
    <button class="faq-question">
      <span>How do I schedule a cleaning and what is the pricing structure?</span>
      <span class="icon">+</span>
    </button>
    <div class="faq-answer">
      <p>Scheduling a cleaning is easy! You can contact us by phone(437-500-8970) , email (itsklean_rite@gmail.com), or visit our website to request a quote
and book your service.</p>
<p>Our pricing structure varies depending on the type of cleaning service you require, the size of your home or
office, and the frequency of cleaning. We offer competitive, transparent pricing with no hidden fees. We can
provide you with a personalized quote based on your specific needs and preferences. For regular cleaning
services, we often offer discounted rates. Contact us for a free estimate!</p>
    
    </div>
  </div>

  <div class="faq">
    <button class="faq-question">
      <span>Are your cleaning professionals insured and bonded?.</span>
      <span class="icon">+</span>
    </button>
    <div class="faq-answer">
      <p>Yes, all our cleaning professionals are fully insured and bonded for your peace of mind. This means you are
protected in the unlikely event of any accident, damage, or theft while our team is working in your home or
office. We thoroughly vet all our employees and conduct background checks to ensure we provide trustworthy
and reliable service. We are committed to providing you with a worry-free cleaning experience.</p>
   
</ul>
    </div>
  </div>
</section>