<div class="footer">
<div class="foot">
  <div class="main">
    <h1>Main</h1>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/service">Service</a></li>
      <li><a href="contact">Contact Us</a></li>
    </ul>
  </div>


  <div class="main">
    <h1>About Us</h1>
     <p>
       At Klean-Rite, we're more than just a cleaning company – we're your partners in creating clean, healthy, and
inviting spaces, both at home and in your business. With years of experience serving communities throughout
Ontario, we've built a reputation for excellence, reliability, and an unwavering commitment to customer
satisfaction.
     </p>
  </div>


  <div class="socials">
    <h1>Social Media</h1>
   <ul>
     <li><a href="#"><img src="images/facebook.jpg" alt="facebook" height="50px" width="50px" />facebook</a></li>
      <li><a href="#"><img src="images/instagram.jpg" alt="facebook" height="50px" width="50px" />Instagram</a></li>
   </ul>
  </div>


  </div>
  <hr /><br />
  <br />

  copyright &copy; dhammycool 2022. All right reserved.
</div>
