


  <section class="head">
    <img src="/images/logo.jpg" alt="logo">
  </section>


  <section class="nav">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/service">Services</a></li>
      <li><a href="/contact">Contact</a> </li>
    </ul>
</section>
