

<section class="about-parent">
<div class="about-us">
  <div class="grid-item text">
    <h2>Who We Are</h2>
  <p> At Klean-Rite, we're more than just a cleaning company – we're your partners in creating clean, healthy, and
inviting spaces, both at home and in your business. With years of experience serving communities throughout
Ontario, we've built a reputation for excellence, reliability, and an unwavering commitment to customer
satisfaction.</p>
<p>
Whether it's a sparkling clean office environment that boosts productivity or a pristine home where you can
truly relax, Klean-Rite has you covered. We specialize in both commercial and residential cleaning services,
tailoring our approach to meet the unique needs of each and every client.
</p>

  </div>

  <div class="grid-item image">
    <img src="/images/logo.jpg" alt="Our team cleaning a house">
  </div>

  <div class="grid-item image">
    <img src="/images/team.jpeg" alt="Spotless living room">
  </div>

  <div class="grid-item text">
    <h2>What We Do</h2>
    <p>More than just cleaning, we build relationships. We value the trust our clients place in us, and we strive to
build long-lasting relationships based on reliability, professionalism, and exceptional service.</p>
  </div>

  
</section>
