

<section class="about-parent">
<div class="about-us">
  <div class="grid-item text">
    <h2>Contact Info</h2>
  <p> At Klean-Rite, we are dedicated to providing top-quality cleaning services with a focus on customer
satisfaction. Contact us today to learn more about how we can help you maintain a sparkling clean
environment, whether it's your home or your business. Let Klean-Rite take the burden of cleaning off your
shoulders, so you can focus on what matters most.For a free quote, let us show you how we
can transform your space into a clean, healthy, and inviting environment. We're confident you'll be impressed!</p>

<div class="telephony">
  <div>
    <h4>Telephone</h4>
   <p>437-500-8970</p> 
  </div>

   <div>
    <h4>Email</h4>
     <p>itsklean_rite@gmail.com</p>
  </div>
 
</div>
  </div>

  <div class="grid-item image">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2882.0505403854286!2d-79.55323982465337!3d43.751047246098096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b300d38d4a5bd%3A0xf92b052dacbe7d71!2s2424%20Finch%20Ave%20W%2C%20North%20York%2C%20ON%20M9M%202E3%2C%20Canada!5e0!3m2!1sen!2suk!4v1748965066170!5m2!1sen!2suk" 
    width="400px" 
    height="400px" 
    style="border-radius:10px;" 
    allowfullscreen="" 
    loading="lazy"
     referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>

</section>


