



<section class="welcome">
  <h1>Klean <span id="rite">Rite.</span></h1>
  <p>
  At Klean-Rite, we're more than just a cleaning company – we're your partners in creating clean, healthy, and
inviting spaces, both at home and in your business. With years of experience serving communities throughout
Ontario, we've built a reputation for excellence, reliability, and an unwavering commitment to customer
satisfaction.
  </p>

</section>

<section class="hero-carousel">
  <div class="carousel-container">
    <div class="carousel-slide">

     <div class="slide">
     <img src="/images/klean_one.jpeg" alt="Image 1" />
     <div class="slide-caption">
       <h1>Experienced Professionals</h1>
       <p>   Our team is composed of highly trained and dedicated cleaning
       professionals who are passionate about delivering exceptional results.</p>
     </div>
    </div>
      

     <div class="slide">
      <img src="/images/klean_two.jpeg" alt="Image 2" />
       <div class="slide-caption">
       <h1>Customized Cleaning Plans</h1>
       <p>   We work closely with you to understand your specific cleaning needs and
        develop a customized plan that fits your budget and schedule.</p>
     </div>
    </div>

    <div class="slide">
     <img src="/images/klean_three.jpeg" alt="Image 3" />
         <div class="slide-caption">
       <h1>Eco-Friendly Options</h1>
       <p>  We are committed to using environmentally friendly cleaning products
          whenever possible, ensuring the health and safety of both your space and the planet.</p>
     </div>
    </div>
      
    </div>
    <button class="prev">&#10094;</button>
    <button class="next">&#10095;</button>
  </div>
</section>


<section class="check_us">
    <h1>What Sets Us Apart?</h1>
    <p>It's simple: we go all out. We understand that cleanliness is more than just aesthetics. It's about health,
well-being, and making a positive impression. That's why we don't cut corners. From meticulously scrubbing
floors to carefully dusting hard-to-reach areas, we put in the extra effort to ensure a truly sparkling and healthy
environment.</p>
<div class="services">
  <div class="service">
    <div class="number">01</div>
    <h2>Maintaining a Professional Image & Healthy Environment</h2>
    <p>We focus on creating a clean and inviting atmosphere that reflects positively on your business.</p>
  </div>
  <div class="service">
    <div class="number">02</div>
    <h2>Detailed Cleaning for Lasting Results</h2>
    <p>Our residential cleaning goes beyond surface-level tidiness. We focus on a deep, thorough clean that eliminates
dirt, dust, and allergens from every corner of your home.</p>
  </div>
  <div class="service">
    <div class="number">03</div>
    <h2>Customized Cleaning, Designed for You</h2>
    <p>We understand that every home and homeowner is unique. That's why we offer customized cleaning plans to
fit your specific needs and preferences. Whether you need a one-time deep clean, regular weekly service, or a
specialized cleaning for a particular room or task, we work with you to create a plan that perfectly suits your
needs.</p>
  </div>
  <div class="service">
    <div class="number">04</div>
    <h2>Flexible Scheduling & Specialized Services</h2>
    <p>We understand that every business has unique needs and operating hours. Klean-Rite offers flexible scheduling
options to minimize disruption to your workday. We can clean during off-peak hours, weekends, or even
overnight to ensure minimal impact on your business operations.</p>
  </div>
</div>
</section>


<section class="testimonials-bg">
  <div class="overlay">
    <h2>What Our Clients Say</h2>

    <div class="testimonial">
      <p>"Klean-Rite did an amazing job! Our office has never looked better."</p>
      <h4>- Shadrack O.,  Manager</h4>
    </div>

    <div class="testimonial">
      <p>"Professional, reliable, and super friendly. Highly recommend!"</p>
      <h4>- William Read., Homeowner</h4>
    </div>

    <div class="testimonial">
      <p>"They were quick, efficient, and left everything spotless. Excellent service."</p>
      <h4>- Excel Shane., Property Manager</h4>
    </div>
  </div>
</section>

<section class="stat">
<p>Our Insight</p>
  <div class="stats">
  <div>
    <span class="counter" data-target="650">0</span>+
    <p>Happy Clients</p>
  </div>

  <div>
    <span class="counter" data-target="15">0</span>+
    <p>Years of Experience</p>
  </div>

  <div>
    <span class="counter" data-target="200">0</span>+
    <p> People</p>
  </div>
</div>

</section>
