

<section class="about-parent">
<div class="about-us">
  <div class="grid-item text">
    
    <h1>1</h1>
    <h2>Detailed Cleaning for Lasting Results</h2>
  <p>Our residential cleaning goes beyond surface-level tidiness. We focus on a deep, thorough clean that eliminates
dirt, dust, and allergens from every corner of your home. This includes:</p>
<ul class="blue-bullets">

  <li>Surface Cleaning: Dusting furniture, wiping down countertops and appliances, sanitizing commonly touched surfaces like doorknobs and light switches.</li>
  <li>Floor Care: Vacuuming carpets and rugs, mopping hard floors, and ensuring a polished, streak-free finish.</li>
  <li>Bathroom Sanitation: Scrubbing toilets, showers, and sinks, leaving your bathrooms hygienic and refreshed.</li>

</ul>
  </div>

  <div class="grid-item image">
    <img src="/images/klean_two.jpeg" alt="Our team cleaning a house">
  </div>

  <div class="grid-item image">
    <img src="/images/klean_three.jpeg" alt="Spotless living room">
  </div>

  <div class="grid-item text">
  <h1>2</h1>
    <h3>Flexible Scheduling & Specialized Services</h3>
    <p>We understand that every business has unique needs and operating hours. Klean-Rite offers flexible scheduling
options to minimize disruption to your workday. We can clean during off-peak hours, weekends, or even
overnight to ensure minimal impact on your business operations. We also offer specialized services such as:</p>
  <ul class="blue-bullets">
  <li>Window Cleaning: Interior and exterior window cleaning for crystal-clear views.</li>
  <li>Carpet Cleaning: Professional carpet cleaning to remove stains, allergens, and dirt.</li>
  <li>Post-Construction:Thorough cleaning of construction debris to prepare your space for occupancy.</li>

</ul>
  </div>


   <div class="grid-item text">
   <h1>3</h1>
   <h2>EXceptional Services & Customer Satisfaction</h2>
  <p> At Klean-Rite, we understand that a clean environment is crucial for both your personal well-being and the
success of your business. That's why we offer a comprehensive range of cleaning services designed to meet the

diverse needs of both residential and commercial clients. Whether you're looking for a helping hand around the
house or a reliable partner to maintain a pristine workspace, Klean-Rite is here to deliver exceptional results
with a commitment to quality and customer satisfaction.</p>


  </div>

  <div class="grid-item image">
    <img src="/images/klean_one.jpeg" alt="Our team cleaning a house">
  </div>


   <div class="grid-item image">
    <img src="/images/about.jpeg" alt="Spotless living room">
  </div>

  <div class="grid-item text">
   <h1>4</h1>
    <p>We offer a wide range of cleaning services to cater  various needs. These include:</p>
<ul class="blue-bullets">

  <li>General House Cleaning: This is our standard service, which includes dusting, vacuuming, mopping, cleaning bathrooms (toilets, showers, sinks), and cleaning the kitchen (countertops, stovetop, sink).</li>
  <li>Specialty Cleaning: We also offer specialized services like post-construction cleaning, event cleaning, and carpet cleaning. Contact us to discuss your specific needs and we'll create a tailored solution.</li>
  <li>Move-In/Move-Out Cleaning: Specifically designed to prepare a home or apartment for new occupants or to ensure you receive your security deposit back. This includes everything in a deep clean, plus attention to details like cabinet interiors and drawer linings.</li>
  <li> We provide customized cleaning plans for offices of all sizes, focusing on creating a clean and productive workspace. This can include general office cleaning, restroom sanitation, trash removal, and restocking supplies.</li>
</ul>
  </div>
  
</section>


